# dependencies
/node_modules

# environment variables
.env

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# runtime
pids
*.pid
*.seed

# build
/dist
/build

# IDEs and editors
.vscode/
.idea/
*.swp

# coverage reports
coverage
